
{% extends "menu.html" %}
{% block main_content %}
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-lg-12">
                <div class="card px-3">
                    <div class="card-body">

                        <div class="list-wrapper">
                        <h1 class="text-center">Appointments</h1>
                        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for appointment.." title="Type in a appointment"><br>
                        <input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Search for names.." title="Type in a name">
                            <table id="myTable" class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Appointment Title</th>
                                        <th scope="col">User</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Status</th>
                                     </tr>
                                </thead>
                                     {% for appointments in schedule %}
                                         {% if '2019-12-04' == appointments.appointment_date%}
                                            <tr class="completed">
                                        {% else %}
                                            <tr>
                                    {% endif %}

                                         <tr>
                                            <td class="tab-content"><a href="{{url_for('main.Update_Schedule',appointment_id=appointments.appointment_id)}}">
                                                         <i class="fas fa-edit"></i>
                                            </a>{{appointments.appointment_date}}</td>
                                             <td class="tab-content">{{appointments.appointment_title}}</td>
                                             <td class="tab-content">{{appointments.customer_name}}</td>
                                             <td class="tab-content">{{appointments.appointment_time}}</td>
                                             <td class="tab-content">
                                          {% if 'done' == appointments.appointment_status %}
                                            <span class="badge badge-success">{{appointments.appointment_status}}</span>
                                          {% elif 'doing' == appointments.appointment_status %}
                                            <span class="badge badge-warning">{{appointments.appointment_status}}</span>
                                          {% elif 'todo' == appointments.appointment_status %}
                                             <span class="badge badge-danger">{{appointments.appointment_status}}</span>
                                          {% endif %}
                                            <i class="input-helper"></i>

                                                <a href="{{url_for('main.remove_schedule',appointment_id=appointments.appointment_id)}}" class="remove"><i class="fas fa-times"></i></a>
                                                <a href="{{url_for('main.view_apppointment_info',appointment_id=appointments.appointment_id)}}" class="view">View Details</a></td>
                                         </tr>

                                     {% endfor %}
                                </table>

                            </tr>
                   </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
function myFunction() {
  var input, filter, table, tr, td, td2, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
function myFunction2() {
  var input, filter, table, tr, td, td2, i, txtValue;
  input = document.getElementById("myInput2");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}


</script>
{% endblock %}